body{
    background-color:#20B2AA;
    color: #191970;
    
}
    h1 {  
        color:##000000;  
        margin-left: 20px;  
    } 
    
    h3{
    color:#2F4F4F;
    }/* CSS Document */
